{% extends "base.html" %}

{% block title %}Create User{% endblock %}
{% block content %}

<body>
	<p id="message"></p>

	<div class="mainContentTop">
		<center>
		<h2> Create user </h2>
		</center>
	</div>
	
	<div class="mainContent">
	<form action="admin-create-user.php" method="post">

	<select name="role">
	<option value="" disabled selected>Select a role</option>
	{% for role in roles %}
		<option value="{{role.id}}"> {{role.name}} </option>
	{% endfor %}
	</select>
	<br>

	<input type="text" name="name" placeholder="Name">
	<br>

	<input type="email" name="email" placeholder="Email">
	<br>

	<input type="submit" name="user">
	</form>

	{% if message %}
	<script type="text/javascript"> document.getElementById("message").textContent = "{{message}}"; </script>
	{% endif %}

</body>

{% endblock %}


