{% extends "base.html" %}
{% block title %}Form Submissions{% endblock %}
{% block content %}
<body>

<div class="formCreatorTop">
	<center>
	<h2> Create field site </h2>
	</center>
</div>
	
<div class="formCreator">
	<form action="admin-create-field-site.php" method="post">

	<input type="text" name="siteName" placeholder="Name">
	<br>

	<input type="submit" name="submitSite">
	</form>
	</div>

	<div class="mainContentTop contentWithSidebar" style="margin-top: -26px">
		<center>
		<h2 style="font-size:1.0em; margin: 2px;"> Edit field sites </h2>
		</center>
	</div>
	
	<div class="mainContent contentWithSidebar">
	{% for site in sites %}
		<a href="site-editor.php?site={{site.name}}">{{site.name}}</a>
		<br>
	{% else %}
		No field sites found.
	{% endfor %}
</div>
</body>
{% endblock %}