{% extends "base.html" %}
{% block title %}Form Submissions{% endblock %}
{% block content %}

<!DOCTYPE html>
<h1>Field Sites</h1>

<div class="section">
<h2> All field sites </h2>
TODO need db function to get all field sites
{% for site in sites %}
	<a href="form-editor.php?form={{site.name}}">{{site.name}}</a>
	<br>
{% endfor %}
</div>

<div class="section">
<h2> Create new field site </h2>
<form action="admin-create-field-site.php" method="post">

Name <input type="text" name="siteName">
<br>

<input type="submit" name="submitSite">
</form>
{% endblock %}