{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<html>
<head>
<title> Admin </title>
</head>

<body>

<h1> Admin Panel </h1>

<div>
	<h2> Forms </h2>
	<a href="form-creator.php"> Create forms </a>
	<br>
</div>

<div>
	<h2> Users </h2>
	<a href="admin-create-user.php"> Create new user </a>
	<br>
	<a href="users.php"> View users </a>
	<br>
	<a href="users-active.php"> Enable/disable users </a>
	<br>
	<a href="users-assign-to-site.php"> Assign/remove users from field site </a>
	
</div>

</html>

{% endblock %}