{% extends "base.html" %}
{% block title %}Reset user password{% endblock %}
{% block content %}

<!DOCTYPE html>
<head> <title> Reset user password </title> </head>
<body>

	<div class="mainContent">
		<h2> Reset user's password </h2>
		<p> Email: {{user.email}} </p>
		<p> Name: {{user.name}} </p>
		<p> Role: 
		{% if user.role == 1 %}
		Admin
		{% endif %}
		{% if user.role == 2 %}
		Student
		{% endif %}
		{% if user.role == 3 %}
		Field site
		{% endif %}
		</p>
		
		<form action="admin-reset-user-password.php?id={{user.id}}" method="post">
			<input type="password" name="password" placeholder="Enter new password">
			<br>
			<input type="password" name="confirmPassword" placeholder="Confirm new password">
			<input type="submit" name="submitPassword" value="Set password">
		</form>
		
		<p class="error">{{message}}</p>
	</div>
</body>
{% endblock %}