{% extends "base.html" %}

{% block title %}Create User{% endblock %}
{% block content %}
<h1> Create new user </h1>
<p id="message"></p>

<div class="section">
<form class="siteForm" action="admin-create-user.php" method="post">

Role <select name="role">

{% for role in roles %}
<option value="{{role.id}}"> {{role.name}} </option>
{% endfor %}

</select>
<br>

Name <input type="text" name="name">
<br>

E-mail <input type="email" name="email">
<br>

<input type="submit" name="user">
</form>

{% if message %}
<script type="text/javascript"> document.getElementById("message").textContent = "{{message}}"; </script>
{% endif %}

{% endblock %}


