<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css"/>
            <title>{% block title %}{% endblock %} - Site Title</title>
        {% endblock %}
    </head>
    <body>
	<header>
		{% if user == False %}
			<a class="toplink" href = "login.php"> Login </a>
			
		{% else %}
			<a class="toplink" href = "logout.php"> Log Out </a>
            <a class="toplink" href = "list-documents.php"> Documents </a>
			{% if user.role == '1' %}
				<a class="toplink" href = "list-forms.php"> Forms </a>
				<a class="toplink" href = "admin-panel.php"> Admin Panel </a>
			{% endif %}
			{% if user.role == '2' %}
				<a class="toplink" href = "list-forms.php"> Forms </a>
				<a class="toplink" href = "list-sites.php"> Sites </a>
			{% endif %}
			{% if user.role == '3' %}
				<a class="toplink" href = "list-sites.php"> Sites </a>
                <a class="toplink" href = "list-students.php"> Students </a>
			{% endif %}
		{% endif %}
	</header>
	
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                Something footer related goes here.
            {% endblock %}
        </div>
    </body>
</html>
