<html>
<head><title>Example Page</title></html>
</head>
<body>
<h2>Template Example</h2>
<p><a href="https://twig.symfony.com/doc/2.x/templates.html">Click here for template docs</a>.  That goes to the Twig v2.x documentation, which is the version we need to use.</p>

<p>Templates get stored in includes/templates as .html files.  See db_example.html (this file) for a simple example.</p>

<h2>Form Types</h2>
<ul>
{% for type in types %}
<li>id: {{type.id}}, name: {{type.name}}</li>
{% endfor %}
</ul>

<h2>Roles from DB</h2>
<ul>
{% for role in roles %}
<li>id: {{role.id}}, name: {{role.name}}</li>
{% endfor %}
</ul>

<h2>Form Field Types</h2>
<ul>
{% for type in types %}
<li>id: {{type.id}}, name: {{type.name}}</li>
{% endfor %}
</ul>

<h2>Forms</h2>
<ul>
{% for form in forms %}
<li>id: {{form.id}}, name: {{form.name}}</li>
{% endfor %}
</ul>

<h2>Form Fields</h2>
<ul>
{% for field in fields %}
<li>id: {{field.id}}, type: {{field.name}}, label: {{field.label}}, order: {{field.order}}</li>
{% endfor %}
</ul>

<h2>User Status</h2>
{% if user %}
User is logged in, email {{ user.email }}<br>
{% else %}
User is not logged in
{% endif %}
</body>
</html>