{% extends "base.html" %}
	
{% block title %} {{form.name}} {% endblock}
	
{% block content %}
	
	{% for field in fields %}
		{% if field.type == 1 %}
			<h2> Edit Field </h2>
			<label for="{{field.name}}">{{field.label}}</label>
			<input type="text" name="{{field.name}}">
		{% endif %}
		{% if field.type == 2 %}
			<h2> CheckBoxes </h2>
			<h3> {{field.label}}</h3>
			<input type="checkbox" name="{{field.name}}">
			<label for="{{field.name}}"> {{field.label}} </label>
		{% endif %}
	{% endfor %}
			
{% endblock %}
