{% extends "base.html" %}
{% block title %}Form Editor{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<title> Form Editor</title>
</head>

<body onload="load();">

	<div style="overflow: auto; padding: 0px; margin: -5px;">
	
	<div id="sidebar" style="float: none; margin: 4px 4px;">
		<table>
		  <tr>
			<td><a href="form-creator.php"> &lt; Back to forms </a></td>
		  </tr>
		</table>
	</div>

	<br>

	<!-- Edit form -->
	
	<div class="formCreatorSeparator">
	
		<div class="formCreatorTop">
			<center>
			<h2> Edit form </h2>
			</center>
		</div>
		
		<div class="formCreator" style="min-height:351px;">
			<form action="form-editor.php?form={{form.id}}" method="post">
				<p> Name </p> <input value="{{form.name}}" type="text" name="formName">
				
				<p> Role </p> <select id="roleSelect" name="formRole" onchange="setFieldVisibility(this);">
					{% for role in roles %}
						<option value="{{role.id}}" {% if form.roleid == role.id %} selected {% endif %}> {{role.name}} </option>
					{% endfor %}
				</select>
				
			<div id="forStudents" style="visibility: hidden;">
				<input type="hidden" name="forStudent" value="0" onchange="setSiteVisibility(this);"> 
				<input type ="checkbox" id="forStudentsCheckbox" name="forStudent" value="1" onchange="setSiteVisibility(this);"> 
				<div>
					<p>For students?</p>
				</div>
				<br>
			</div>
			
			<div id="siteDropdown" style="visibility: hidden;">
			<p> Site </p>
			<select id="siteDropdown" name="site">
				{% for site in sites %}
					<option value="{{site.id}}"> {{site.name}} </option>
				{% else %}
					<option value="-1"> No sites found </option>
				{% endfor %}
			</select>
			</div>
			
			<br>
			
			<div id="siteVisible" style="visibility: hidden;">
				<input type="hidden" name="siteVisible" value="0"> 
				<input type ="checkbox" id="visibleToSitesCheckbox" name="siteVisible" value="1"> 
				<div>
					<p>Visible to sites?</p>
				</div>
			</div>			
			<input type="submit" name="submit" value="Create form">
				
			</form>
		</div>
	
	</div>
	
	<!-- Create form field -->
	
	<div class="formCreatorSeparator">
	
		<div class="formCreatorTop">
			<center>
			<h2> Create form field </h2>
			</center>
		</div>
			
		<div class="formCreator">
			
			<form action="form-editor.php?form={{form.id}}" method="post">
			<p> Type </p> <br> <select name="type" value="{{field.type}}">

			{% for type in types %}
			<option value="{{type.id}}"> {{type.name}} </option>
			{% endfor %}

			</select>

			<input type="text" name="label" placeholder="Label">
			<input type="text" name="order" placeholder="Order">
			<input type="text" name="name" placeholder="Name">
			<input type="text" name="size" placeholder="Size">
			
			<br>
			
			<input type="hidden" name="eol" value="0"> 
			<input type ="checkbox" name="eol" value="1"> 
			<div>
				<p> End of line? </p>
			</div>
			
			<br>
			
			<input type="hidden" name="required" value="0"> 
			<input type="checkbox" name="required" value="1">
			<div>
				<p> Required? </p>
			</div>
			<br>


			<input type="submit" name="submitField" value="Create form field">
			</form>
		</div>
	
	</div>
	
	<!-- Form fields -->
	
	<div class="formCreatorSeparator" style="width: 70%;"> 
	
		<div class="mainContentTop" style="margin-left: 0px; width: 100%;">
			<center>
			<h2 style="font-size:1.0em; margin: 2px;"> Edit form fields </h2>
			</center>
		</div>
	
		<div class="mainContent" style="min-height:351px; margin-left: 0px; ">
			{% for field in fields %}
				<a href="form-field-editor.php?form={{form.id}}&formfield={{field.id}}"> {{field.fieldname}} </a>
				<br>
			{% else %}
				<p> No form fields found. </p>
			{% endfor %}
		</div>
	</div>
	
	</div>
	
<script type="text/javascript">

// Hide/show fields depending on which role is selected
function setFieldVisibility(selected) {

	// Always uncheck the checkboxes
	document.getElementById("forStudentsCheckbox").checked = false;
	document.getElementById("visibleToSitesCheckbox").checked = false;
	
	// TODO Do we need to unselect the site dropdown?
	
	// Admin
	if (selected.value == 1) {
		document.getElementById("forStudents").style.visibility = "hidden";
		document.getElementById("siteVisible").style.visibility = "hidden";
		document.getElementById("siteDropdown").style.visibility = "hidden";
	}
	// Student
	else if (selected.value == 2) {
		document.getElementById("forStudents").style.visibility = "hidden";
		document.getElementById("siteVisible").style.visibility = "visible";
		document.getElementById("siteDropdown").style.visibility = "hidden";
	}
	// Field site
	else if (selected.value == 3) {
		document.getElementById("forStudents").style.visibility = "visible";
		document.getElementById("siteVisible").style.visibility = "hidden";
		document.getElementById("siteDropdown").style.visibility = "hidden";
	}
}

function load() {
	var startingRole = document.getElementById("roleSelect")
	var selected = startingRole.options[startingRole.selectedIndex];
	
	setFieldVisibility(selected);
}

function setSiteVisibility(selected) {
	if (selected.checked) {
		document.getElementById("siteDropdown").style.visibility = "visible";
	}
	else {
		document.getElementById("siteDropdown").style.visibility = "hidden";
	}
}
</script>
</body>
</html>


{% endblock %}