{% extends "base.html" %}
{% block title %}Form Editor{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<title> Form Editor</title>
</head>

<body onload="load();">

	<div style="overflow: auto; padding: 0px; margin: -5px;">
	
	<div id="sidebar" style="float: none; margin: 4px 4px;">
		<table>
		  <tr>
			<td><a href="form-creator.php"> &lt; Back to forms </a></td>
		  </tr>
		</table>
	</div>

	<br>

	<!-- Edit form -->
	
	<div class="formCreatorSeparator">
	
		<div class="formCreatorTop">
			<center>
			<h2> Edit form </h2>
			</center>
		</div>
		
		<div class="formCreator" style="min-height:351px;">
			<form action="form-editor.php?form={{form.id}}" method="post">
				<p> Name </p> <input value="{{form.name}}" type="text" name="formName">
				
				<p> Role </p> <select id="roleSelect" name="formRole" onchange="setFieldVisibility(this);">
					{% for role in roles %}
						<option value="{{role.id}}" {% if form.roleid == role.id %} selected {% endif %}> {{role.name}} </option>
					{% endfor %}
				</select>
				
			<div id="forStudents" style="visibility: hidden;">
				<input type="hidden" name="forStudent" value="0" onchange="setSiteVisibility(this);"> 
				<input type ="checkbox" id="forStudentsCheckbox" name="forStudent" value="1" {% if form.student %} checked {% endif %} onchange="setSiteVisibility(this);"> 
				<div>
					<p>For students?</p>
				</div>
				<br>
			</div>
			
			<div id="siteDropdown" style="visibility: hidden;">
			<p> Site </p>
			<select id="siteDropdown" name="siteId">
				{% for site in sites %}
					<option value="{{site.id}}" {% if form.siteid == site.id %} selected {% endif %}> {{site.name}} </option>
				{% else %}
					<option value="-1"> No sites found </option>
				{% endfor %}
			</select>
			</div>
			
			<br>
			
			<div id="siteVisible" style="visibility: hidden;">
				<input type="hidden" name="siteVisible" value="0"> 
				<input type ="checkbox" id="visibleToSitesCheckbox" name="siteVisible" value="1"> 
				<div>
					<p>Visible to sites?</p>
				</div>
			</div>			
			
			<input type="submit" name="editForm" value="Submit changes">
			</form>
			
			<center><button class="deletebtnForm" onclick="document.getElementById('id01').style.display='block'">Delete form</button></center>
		</div>
	
	</div>
	
	<!-- Create form field -->
	
	<div class="formCreatorSeparator">
	
		<div class="formCreatorTop">
			<center>
			<h2> Create form field </h2>
			</center>
		</div>
			
		<div class="formCreator">
			
			<form action="form-editor.php?form={{form.id}}" method="post">
			<p> Type </p> <br> <select id="typeSelect" name="type" value="{{field.type}}" onchange="setSizeVisibility(this);">

			{% for type in types %}
			<option value="{{type.id}}"> {{type.name}} </option>
			{% endfor %}

			</select>

			<input type="text" name="label" placeholder="Label">
			<input type="text" name="order" placeholder="Order">
			<input type="text" name="name" placeholder="Name">
			<input type="text" id="size" name="size" placeholder="Size">
			
			<br>
			
			<input type="hidden" name="eol" value="0"> 
			<input type ="checkbox" name="eol" value="1"> 
			<div>
				<p> End of line? </p>
			</div>
			
			<br>
			
			<input type="hidden" name="required" value="0"> 
			<input type="checkbox" name="required" value="1">
			<div>
				<p> Required? </p>
			</div>
			<br>


			<input type="submit" name="submitField" value="Create form field">
			</form>
		</div>
	
	</div>
	
	<!-- Form fields -->
	
	<div class="formCreatorSeparator" style="width: 70%;"> 
	
		<div class="mainContentTop" style="margin-left: 0px; width: 100%;">
			<center>
			<h2 style="font-size:1.0em; margin: 2px;"> Edit form fields </h2>
			</center>
		</div>
	
		<div class="mainContent" style="min-height:351px; margin-left: 0px; ">
			{% for field in fields %}
			
				<!-- Change order of formfield -->
				<form action="form-editor.php?form={{form.id}}" method="post" style="margin: 0px; display:inline;">
					<input type="hidden" name="fieldOrder" value="{{field.order}}">
					
					{% if field.order < fields|length %}
						<input type="submit" style="margin: 0px; width: 20px; font-size: .7em; padding: 0px;" 
						name="orderDown" value="v">
					{% endif %}
					
					{% if field.order > 1 %}
						<input type="submit" style="margin: 0px; width: 20px; font-size: .7em;padding: 0px;" 
						name="orderUp" value="^">
					{% endif %}
				</form>
				
				<a href="form-field-editor.php?form={{form.id}}&formfield={{field.id}}"> {{field.fieldname}} </a>
				
				<br>
			{% else %}
				<p> No form fields found. </p>
			{% endfor %}
		</div>
	</div>
	
	</div>
	
	<!-- Deletion confirmation -->
	<div id="id01" class="modal">
	  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
	  <form class="modal-content" action="form-editor.php?form={{form.id}}" method="post">
		<div class="container">
		  <h1 style="color:black;">Delete Form "{{form.name}}"</h1>
		  <p style="color:black;">Are you sure you want to delete this form?</p>

		  <div class="clearfix">
			<button type="button" class="cancelbtn" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
			<button type="submit" name="delete" class="deletebtn" value="Delete"> Delete </button>
		  </div>
		</div>
	  </form>
	</div>
	
<script type="text/javascript">

// Hide/show fields depending on which role is selected
function setFieldVisibility(selected) {

	// Always uncheck the checkboxes
	
	document.getElementById("forStudentsCheckbox").checked = {{form.student}};
	document.getElementById("visibleToSitesCheckbox").checked = {{form.sitevisible}};
	
	// Admin
	if (selected.value == 1) {
		document.getElementById("forStudents").style.visibility = "hidden";
		document.getElementById("siteVisible").style.visibility = "hidden";
		document.getElementById("siteDropdown").style.visibility = "hidden";
	}
	// Student
	else if (selected.value == 2) {
		document.getElementById("forStudents").style.visibility = "hidden";
		document.getElementById("siteVisible").style.visibility = "visible";
		document.getElementById("siteDropdown").style.visibility = "hidden";
	}
	// Field site
	else if (selected.value == 3) {
		document.getElementById("forStudents").style.visibility = "visible";
		document.getElementById("siteVisible").style.visibility = "hidden";
		document.getElementById("siteDropdown").style.visibility = "hidden";
		
		if (document.getElementById("forStudentsCheckbox").checked) {
			document.getElementById("siteDropdown").style.visibility = "visible";
		}
	}
}

function setSizeVisibility(selected) {
	if (selected.value == 1) {
		document.getElementById("size").style.visibility = "visible";
	}
	else {
		document.getElementById("size").style.visibility = "hidden";
	}
}

function load() {
	var startingRole = document.getElementById("roleSelect");
	var startingFieldType = document.getElementById("typeSelect");
	
	var selectedRole = startingRole.options[startingRole.selectedIndex];
	var selectedType = startingFieldType.options[startingFieldType.selectedIndex];
	
	setFieldVisibility(selectedRole);
	setSizeVisibility(selectedType);
}

function setSiteVisibility(selected) {
	if (selected.checked) {
		document.getElementById("siteDropdown").style.visibility = "visible";
	}
	else {
		document.getElementById("siteDropdown").style.visibility = "hidden";
	}
}
</script>
</body>
</html>


{% endblock %}