{% extends "base.html" %}

{% block title %}Form Creator{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<title> View Forms </title>
</head>

<body>
<h1>Forms</h1>
<div class="section">
<h2> Create new form </h2>

<form class="topForm" action="form-creator.php" method="post">
<p>Form name</p> <input type="text" name="form">

<p>Role</p>
<select name="role">
{% for role in roles %}
<option value="{{role.id}}"> {{role.name}} </option>
{% endfor %}
</select>

<p>For students?</p>
<input type="hidden" name="forStudent" value="0"> <input type ="checkbox" name="forStudent" value="1"> 
<br>
<input style="margin: 30px 25px;" type="submit" name="submit" value="Create form">
</form>



<h2> Edit forms </h2>
{% for form in forms %}
	<a href="form-editor.php?form={{form.id}}">{{form.name}}</a>
	<br>
{% endfor %}
</div>

</body>
</html>

{% endblock %}