{% extends "base.html" %}

{% block title %}Formfield Editor{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<title> Edit Formfield </title>
</head>

<div>
<h2>Current form field info</h2>

<li>id: {{field.id}}, type: {{field.name}}, label: {{field.label}},
order: {{field.order}}, name: {{field.fieldname}}, eol:{{field.eol}}, size: {{field.size}}, required: {{field.required}} </li>

<h2>Edit form field</h2>
<div class="section">
<form action="form-field-editor.php?form={{form.name}}&formfield={{field.id}}" method="post">

Type <br> <select name="type">

{% for type in types %}
	<option value="{{type.id}}"> {{type.name}} </option>
{% endfor %}

</select>
<br>
Label <input type="text" name="label" value="{{field.label}}">
<br>

Order <input type="text" name="order" value="{{field.order}}">
<br>

Name <input type="text" name="name" value="{{field.fieldname}}">
<br>

End of line? <input type="hidden" name="eol" value="0"> <input type ="checkbox" name="eol" value="1" {% if field.eol %} checked {% endif %}>
<br>

Required? <input type="hidden" name="required" value="0"> <input type ="checkbox" name="required" value="1" {% if field.required %} checked {% endif %}>
<br>

Size <input type="text" name="size" value="{{field.size}}">
<br>

<input type="submit" name="submit">
</form>
</div>
	
{% endblock %}