
{% for error in errors %}
<p class="error">{{error}}</p>
{% endfor %}

<form class="generatedForm" enctype="multipart/form-data" method ='POST'>
	{% for field in fields %}
		{% if submissions[ field.fieldname ] is defined %}
			{% set value = submissions[ field.fieldname ].value %}
		{% else %}
			{% set value = '' %}
		{% endif %}
		
		{% if field.type == 1 %}
			<label class="generatedForm" for="{{field.fieldname}}">{{field.label}}</label>
			<input class="generatedForm" type="text" name="{{field.fieldname}}" size="{{field.size}}" value="{{value}}">
			{% if field.eol %}
				<br>
			{% endif %}
		{% endif %}
		{% if field.type == 2 %}
			<input type="hidden" name="{{field.fieldname}}" value="0">
			<input type="checkbox" name="{{field.fieldname}}" value="1" {% if value %}checked{% endif %}>
			<label class="generatedForm" for="{{field.fieldname}}"> {{field.label}} </label>
			{% if field.eol %}
				<br>
			{% endif %}
		{% endif %}
		{% if field.type == 3 %}
			<label class="generatedForm" for="{{field.fieldname}}">{{field.label}}</label>
			<input class="generatedForm" type="date" name="{{field.fieldname}}" value="{% if value %}{{value|date('Y-m-d')}}{% endif %}">
			{% if field.eol %}
				<br>
			{% endif %}
		{% endif %}
		{% if field.type == 4 %}
            <input type="hidden" name="{{field.fieldname}}" value="1">
			<label class="generatedForm" for="{{field.fieldname}}">{{field.label}}</label>
			<input class="generatedForm" type="file" name="{{field.fieldname}}">
			{% if value %}
			Submitted File: <a href="download.php?id={{submissions[ field.fieldname ].id}}">{{value}}</a>
			{% endif %}
			{% if field.eol %}
				<br>
			{% endif %}
		{% endif %}
	{% endfor %}
	<br>
	<input type='hidden' name='formid' value='{{form}}'>
    {% if siteid %}
	<input type='hidden' name='siteid' value='{{siteid}}'>
    {% endif %}
	<input class="generatedForm"  type="submit" value = "Submit">
	</form>