<DOCTYPE! html>
<html>
    <head>
        <title> Homepage </title>
        <link rel="stylesheet" href ="style.css"
     </head>
	<header>
		{% if user == False %}
			<a href = "login.php"> Login Page </a>
			
		{% else %}
			<a href = "logout.php"> Log Out </a>
			<a href = "list-forms.php"> Forms </a>
		{% endif %}
		{% if user.role == '1' %}
			<a href = "admin-panel.php"> Admin Panel </a>
		{% endif %}

	</header>
    <body>

		<h1> Home Page </h1>
		
        <div>
			
		</div>

    </body>
	
</html>