{% extends "base.html" %}

{% block title %}Submissions for {{site.name}} {% endblock %}
{% block content %}
    <h1>Form Submissions for {{student.name}}</h1>
    <div>
	<h2>Student Profile Forms</h2>
		{% for submission in studentsubmissions %}
			<a href="display-submission.php?submission={{submission.id}}">{{submission.name}}</a><br>
		{% endfor %}
	</div>
	
	<div>
	<h2>{{site.name}} Forms</h2>
		{% for submission in sitesubmissions %}
			<a href="display-submission.php?submission={{submission.id}}">{{submission.name}}</a><br>
		{% endfor %}
	</div>
{% endblock %}