
{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
        <form class="generatedForm" method ='POST'>
            <label for "email">Email: </label>
            <input type="email" id="email" placeholder="Email" name ="email" >
            <label for "password">Password: </label>
            <input type="password" id="password" placeholder="Password" name ="password">
			<br>
			<a href="password-forgot.php"> Forgot password </a>
            <input class="siteForm" type="submit" value = "Submit">
        </form>	
{% endblock %}