{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
<title>Reset Password</title>
</head>

<body>
{% if expired %}
This account's token has expired. Click <a href="password-forgot.php"> here </a> to send a password reset link to your email.
{% else %}
<form action="password-reset.php?token={{token}}" method="post">
Enter password <input type="password" name="password">
Confirm password <input type="password" name="confirmedPassword">
<input type="submit" name="user">
</form>
{% endif %}
</body>
</html>

{% endblock %}