{% extends "base.html" %}

{% block title %}Search{% endblock %}
	
{% block content %}

<div>
	<form action="./search-searched.php" method="POST">
	<label for="{{field.fieldname}}"> Choose a field:</label>
	<select name="fieldname" onchange='setFieldVisibility(this);'>
	{% for field in fields %}
		<option value="{{field.fieldname}}" data-type="{{field.type}}">{{field.fieldname}}</option>
	{% endfor %}
	<span id="text" style="display: none;">
		<input type="text" placeholder="Search..." name="searchtext" id="text">
		
	</span>
	<span id="checkbox" style="display: none;">
		<input type="hidden" name="searchcheck" value="0">
		<input type="checkbox" name="searchcheck" placeholder=" " value="1">
	</span>
	<span id="date" style="display: none">
		<input type="date" name="searchdate" placeholder=" " id="date">
	</span>
	<input type="submit" value="Submit">
		
	<input type='hidden' name='formid' value='{{form}}'>
	
	</form>

</div>

<script type='text/javascript'>
window.on("load" , setFieldVisibility)
function setFieldVisibility(selected){
	var type = selected.options[selected.selectedIndex].dataset.type;
	console.log(type);
	//textbox
	if(type == 1){
		document.getElementById('text').style.display="inline";
		document.getElementById('checkbox').style.display="none";
		document.getElementById('date').style.display="none";
	}
	//checkbox
	else if(type == 2){
		document.getElementById('text').style.display="none";
		document.getElementById('checkbox').style.display="inline";
		document.getElementById('date').style.display="none";
	}
	//date
	else if(type == 3){
		document.getElementById('text').style.display="none";
		document.getElementById('checkbox').style.display="none";
		document.getElementById('date').style.display="inline";
	
	}
}
document.ready(setFieldVisibility);
	
</script>

{% endblock %}


