{% extends "base.html" %}

{% block title %}Search{% endblock %}
	
{% block content %}

<div>
	<form action="./search-searched.php" method="POST">
	<label for="{{field.fieldname}}"> Choose a field:</label>
	<select name="fieldname" onchange='setFieldVisibility(this);'>
	{% for field in fields %}
		<option value="{{field.fieldname}}" data-type="{{formfield.type}}">{{field.fieldname}}</option>
	{% endfor %}
	<input type="text" placeholder="Search..." name="searchterm">
	<input type="submit" value="Submit">
	
	
	<input type='hidden' name='formid' value='{{form}}'>
	
	</form>

</div>

<script type='text/javascript'>

function setFieldVisability(selected){
	
	//textbox
	if(selected.value == 1){
		document.getElementBy
		
	}
	//checkbox
	else if(selected.value == 2){
	
	
	}
	//date
	else if(selected.value == 3){
	
	
	}
	
</script>

{% endblock %}


