{% extends "base.html" %}
{% block title %}Form Editor{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<title> Form Editor</title>
</head>

<body>

	<div style="overflow: auto; padding: 0px; margin: -5px;">
	
	<div id="sidebar" style="float: none; margin: 4px 0px;">
		<table>
		  <tr>
			<td><a href="admin-create-field-site.php"> &lt; Back to form editor </a></td>
		  </tr>
		</table>
	</div>
	
	<div class="formCreatorTop">
		<center>
		<h2 style="font-size:1.0em; margin: 2px;"> Editing "{{site.name}}" </h2>
		</center>
	</div>
	
	<div class="formCreator">

	<form action="site-editor.php?site={{site.name}}" method="post">
	<p> Name </p> <input type="text" value="{{site.name}}" name="siteName">

	<input type="submit" name="submitSite" method="post">
	</div>
</body>
</html>

{% endblock %}