{% extends "base.html" %}
{% block title %}Unarchive Forms{% endblock %}
{% block content %}

<div id="sidebar" style="float: none;">
	<table>
	  <tr>
		<td><a href="archive-forms.php"> &lt Archive forms </a></td>
	  </tr>
	</table>
</div>

<br>

<div class="mainContentTop">
	<center>
	<h2> Unarchive forms </h2>
	</center>
</div>

<div class="mainContent">
	<form action="unarchive-forms.php" method="post">
		{% for form in forms %}
			<input type="hidden" value="0"> <input type ="checkbox" name="formsToUnarchive[]" value="{{form.id}}">
			<a href="form-editor.php?form={{form.id}}"> {{form.name}} </a>
			<br>
		{% else %}
			<p> No forms found. </p>
		{% endfor %}
		<input type="submit" value="Unarchive Selected Forms" name="submitUnarchiveForms">
	</form>
</div>

{% endblock %}