{% extends "base.html" %}
{% block title %}Disable Users{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
<title> Disable Users </title>
</head>

<body>

<div id="sidebar" style="float: none;">
	<table>
	  <tr>
		<td><a href="users-enable.php"> Enable users </a></td>
	  </tr>
	</table>
</div>

<br>

<div class="mainContentTop">
	<center>
	<h2> All enabled users </h2>
	</center>
</div>

<div class="mainContent">
<form action="users-disable.php" method="post">
{% for user in enabledUsers %}
	<input type="hidden" value="0"> <input type ="checkbox" name="usersToDisable[]" value="{{user.id}}">
	<a href="user.php?id={{user.id}}"> {{user.name}} </a>
	<br>
{% else %}
	<p> No enabled users found. </p>
{% endfor %}

<input type="submit" value="Disable Selected Users" name="submitDisableUsers">
</form>
</div>
</body>

{% endblock %}