{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}

	<div id="sidebar">
		<table>
		  <tr>
			<td><a href="form-submissions.php?user={{currentUser.id}}"> View user submissions </a></th>
		  </tr>
		  <tr>
			<td><a href="admin-reset-user-password.php?id={{currentUser.id}}"> Reset user password </a></th>
		  </tr>
		  <tr>
			<td><button class="deletebtnForm" onclick="document.getElementById('id01').style.display='block'">Delete user</button></td>
		  </tr>
		</table>
	</div>
	<div class="mainContentTop contentWithSidebar">
		<h2> User info </h2>
	</div>
	
	<div class="mainContent mainContent contentWithSidebar">
		<p> Email: {{currentUser.email}} </p>
		<p> Name: {{currentUser.name}} </p>
		<p> Role: 
			{% if currentUser.role == 1 %}
			Admin
			{% endif %}
			{% if currentUser.role == 2 %}
			Student
			{% endif %}
			{% if currentUser.role == 3 %}
			Field site
			{% endif %}
		</p>
	</div>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="user.php?id={{currentUser.id}}" method="post">
    <div class="container">
      <h1 style="color:black;">Delete User "{{currentUser.name}}"</h1>
      <p style="color:black;">Are you sure you want to delete this user?</p>

      <div class="clearfix">
        <button type="button" class="cancelbtn" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
        <button type="submit" name="delete" class="deletebtn" value="Delete"> Delete </button>
      </div>
    </div>
  </form>
</div>


{% endblock %}