{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
<title> User </title>
</head>

<body>
<div class="compact">
	<a style="float: right;" href="admin-reset-user-password.php?id={{user.id}}"> Reset user's password > </a>
	<h2> User info </h2>
	<p> Email: {{user.email}} </p>
	<p> Name: {{user.name}} </p>
	<p> Role: 
	{% if user.role == 1 %}
	Admin
	{% endif %}
	{% if user.role == 2 %}
	Student
	{% endif %}
	{% if user.role == 3 %}
	Field site
	{% endif %}
	</p>
</div>
</body>

{% endblock %}